<div class="container">
  <h2>
    Показатели<br> уровня международного сотрудничества организации в научно-технической сфере
  </h2>
  <p>
    <b>Образовательное направление</b>
  </p>
  <ul class="outer-list">
    <li>
          <p>
            Иностранные студенты
          </p>
          <ul class="inner-list">

            <li routerLink="/indexes/GetStudentsDistributionBySpeciality">
              Распределение иностранных студентов по специальностям
            </li>
            <li routerLink="/indexes/GetStudentsInflowBySpecialityAndYear">
              Динамика притока иностранных студентов (по годам и специальностям)
            </li>
          </ul>

    </li>

    <li>
      <p>
        Иностранные преподаватели
      </p>
      <ul class="inner-list">
        <li routerLink="/indexes/GetForeignTeachersPayloadByYear">
          Динамика и структура нагрузки иностранных преподавателей
        </li>
      </ul>

    </li>
  </ul>
</div>
