body {
  background-color: beige;
  padding: 100px;

}

.main-container {
  background-color: white;
}

.container {
  padding: 0 40px 10px 40px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



